/* Элемент "p", подзаголовок на картинке  */

.cover__subtitle {
  max-width: 360px;
  margin: 0 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #fff;
}

@media (max-width: 480px) {
  .cover__subtitle {
    max-width: 288px;
    margin: 0 16px;
    font-size: 14px;
    line-height: 16px;
  }
}
