/* Элемент "ul", список переключателя русского и английского языка */

.header__lang-list {
  margin: 18px 0 6px auto;
  display: flex;
  list-style: none;
  padding: 0;
}

@media (max-width: 450px) {
  .header__lang-list {
    margin: 14px 0 8px auto;
  }
}
